body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.order-summary {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-summary ul li {
  margin-bottom: 10px;
}

.total-price {
  margin-top: 20px;
  font-weight: bold;
  /* color: #2aab4a; */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
